---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="description"
			content="Descripción de tu portafolio de desarrollo de software"
		/>
		<meta
			name="keywords"
			content="desarrollador de software, desarrollo web, desarrollo de aplicaciones, tecnologías de la información"
		/>
		<meta name="author" content="Jonarroh" />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 dark:bg-slate-900">
		<slot />
	</body>
</html>
<style is:global>
	body {
		height: 100vh;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
			monospace;
	}
</style>
